<a href="https://colab.research.google.com/github/rishukr02/rishukr02/blob/main/5_feb_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set1 ={12.23,34,87,45,67,3}
set2 = {24,59,68,54,60,64,3}
print(set1.union(set2))

{64, 34, 3, 67, 68, 12.23, 45, 54, 87, 24, 59, 60}

In [ ]:
set3 = {"upes","python"}
set4 = {"sets","union"}
set4.union(set3)

{'python', 'sets', 'union', 'upes'}

In [ ]:
print (set3|set4|set2)

{'upes', 'python', 64, 3, 68, 'sets', 54, 'union', 24, 59, 60}

In [ ]:
set3.union(("abc","def",123,))

{123, 'abc', 'def', 'python', 'upes'}

In [ ]:
set1.intersection(set2)

{3}

In [ ]:
st1= {"UPES",123,321}
st2= {234,"upes",456}
st3= {4533,"upes",543}
st2.difference_update(st3)
st3.symmetric_difference(st2)

{234, 4533, 456, 543, 'upes'}

In [ ]:
set2 ^ set3 # for symmetric difference

{24, 3, 54, 59, 60, 64, 68, 'python', 'upes'}

In [ ]:
st2.isdisjoint(st3)

True

In [ ]:
st1.issubset(st2)

False

In [ ]:

name = "abhisamp"
for x in name:
  if x =="abhisamp"
  break
    print (x)

SyntaxError: expected ':' (<ipython-input-26-8c6460cd5add>, line 3)

In [ ]:
list1 = {1,2,3,4,5,6}
for x in list1:
    square= x*x
    print(square)

1
4
9
16
25
36

In [ ]:
list2= {1,2,3,4,5,7}
list3=[]
for x in list2:
  square = x*x
  list3.append(square)
  print(list3)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 49]

In [ ]:

numbers = {12,23,45,67,89,87}
for i in numbers:
    print (i)
    if i==43:
       break
else:
        print("for loop has been executed successfully")

67
23
87
89
12
45
for loop has been executed successfully