<a href="https://colab.research.google.com/github/rishukr02/rishukr02/blob/main/7_feb_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = input ("enter the numbers seprated by space")
list1 = numbers.split(" ")
print(list1)
count = 0
for i in list1:
  count +=1
print(count)
for i in range (count):
 list1[i]= int(list1[i])
print(list1)
maximum = list1[0]
for i in list1:
  if i > maximum:
    maximum = i
print(f"the maximum number is (maximum)")

enter the numbers seprated by space123 345 678 890
['123', '345', '678', '890']
4
[123, 345, 678, 890]
the maximum number is (maximum)

In [ ]:
c = range (2,25,-3)
for i in c:
  print (i)

In [ ]:
for i in range (1,2,-3):
  print (i)

In [ ]:
sum = 0
for i in range (0, 101 ,203):
  sum = sum +i
  print(sum)

In [ ]:
for i in range(1, 101, 1):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("buzz")
    elif i % 5 == 0:
        print("fizz")
    else:
        print(i)

1
2
buzz
4
fizz
buzz
7
8
buzz
fizz
11
buzz
13
14
FizzBuzz
16
17
buzz
19
fizz
buzz
22
23
buzz
fizz
26
buzz
28
29
FizzBuzz
31
32
buzz
34
fizz
buzz
37
38
buzz
fizz
41
buzz
43
44
FizzBuzz
46
47
buzz
49
fizz
buzz
52
53
buzz
fizz
56
buzz
58
59
FizzBuzz
61
62
buzz
64
fizz
buzz
67
68
buzz
fizz
71
buzz
73
74
FizzBuzz
76
77
buzz
79
fizz
buzz
82
83
buzz
fizz
86
buzz
88
89
FizzBuzz
91
92
buzz
94
fizz
buzz
97
98
buzz
fizz